
@import url('/css/stylesheet.css');

#first-test {
	align-content: center;
	align-items: stretch;
	align-self: auto;
	background: #FFF;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: #FFF;
	background-image: url(dir1/dir2/img.jpg);
	background-origin: border-box;
	background-position: center center;
	background-repeat: repeat;
	background-size: auto;
	border: thin solid #000;
	border-bottom: thin solid #999;
	border-bottom-width: 1px;
	border-bottom-color: #777;
	border-bottom-style: solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-collapse: separate;
	border-color: #555;
	-webkit-border-border-image: url(img/my-image.jpg) 30 round;
	-moz-border-border-image: url(img/my-image.jpg) 30 round;
	-o-border-border-image: url(img/my-image.jpg) 30 round;
	border-border-image: url(img/my-image.jpg) 30 round;
	border-border-image-outset: 10px;
	border-border-image-repeat: round;
	border-border-image-slice: 10px;
	border-border-image-source: url(img/my-image.jpg);
	border-border-image-width: 1px;
	border-left: thin solid #111;
	border-radius: 10px;
	border-right: thin solid 000;
	border-spacing: 20px;
	border-style: solid;
	border-top: thin solid #FFF;
	border-width: 1px;
	bottom: 10px;
	box-shadow: 10px 10px 10px #000 inset;
	box-sizing: border-box;
	caption-side: bottom;
	clear: both;
	clip: 0px 100px 200px 0px;
	color: #CCC;
	column-count: 3;
	column-gap: 30px;
	column-rule: thin solid #999;
	column-rule-color: #777;
	column-rule-style: solid;
	column-rule-width: 1;
	column-span: all;
	column-width: 100px;
	columns: 100px 3;
	content: "my content";
	counter-increment: my-id;
	counter-reset: none;
	cursor: pointer;
	direction: ltr;
	display: inline;
	empty-cells: hide;
	flex: 2 2 auto;
	flex-basis: 80px;
	flex-direction: column;
	flex-flow: row nowrap;
	flex-grow: 0;
	flex-shrink: 1;
	flex-wrap: wrap;
	float: right;
	font: 12px/30px bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	height: 300px;
	min-height: 200px;
	max-height: 500px;
	justify-content: space-around;
	left: 10px;
	letter-spacing: 2px;
	line-height: 2;
	list-style: url(img/my-image.jpg) inside;
	list-style-image: url(img/my-image.jpg);
	list-style-position: inside;
	list-style-type: circle;
	margin: 10px;
	margin-bottom: 10px;
	opacity: 0.5;
	order: 2;
	outline: thin solid #FFF;
	outline-color: #000;
	outline-style: solid;
	outline-width: thick;
	overflow: auto;
	overflow-x: visible;
	overflow-y: hidden;
	padding: 10px;
	padding-bottom: 10px;
	page-break-after: always;
	page-break-before: always;
	page-break-inside: avoid;
	perspective: 400px;
	perspective-origin: 50% 50%;
	position: absolute;
	quotes: "<<" ">>" "<" ">";
	right: 10px;
	table-layout: fixed;
	text-align: center;
	text-decoration: underline;
	text-indent: 50;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 2px #000;
	text-transform: lowercase;
	top: 10px;
	transform: rotate(7deg);
	unicode-bidi: embed;
	vertical-align: middle;
	visibility: hidden;
	white-space: normal;
	width: 900px;
	min-width: 600px;
	max-width: 1200px;
	word-spacing: 30;
	word-break: normal;
	word-wrap: break-word;
	z-index: -1;
}
#second-test {
	background: url(dir1/dir2/img.jpg) no-repeat;
	box-shadow: 10px 10px   ;
	columns: 100px auto;
	flex: 2;
	line-height: 30px;
	list-style: disc inside;
	quotes: "<<" ">>";
	text-shadow: 2px 2px  ;
}